.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr .7fr 2fr 1fr 3fr;
    grid-gap: 1rem;
    justify-content: space-between;
    background-color: #F0ECE3;
    border-radius: 10px;
    padding: 1.5rem;
    color: var(--color-gray-dark);
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 68rem;
    height: 4rem;
    margin: 1.2rem auto 1.2rem auto;
    align-items: center;
    text-align: center;
}


.container:hover {
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.image {
    width: 4rem;
    border-radius: 50%;
}

.name {
    text-align: left;
    font-weight: 700;
    line-height: 2.1rem;
}

.symbol {
    text-align: left;
    opacity: .8;
    font-size: 1.5rem;
}


.cap {
    text-align: right;
    margin-right: 2rem;
}

.changeG{
    color: rgb(6, 169, 6);
    font-weight: 700;
}

.changeR {
    color: red;
    font-weight: 700;
}

@media screen and (max-width : 880px) {
    .container {
        font-size: 1.3rem;
        width: 50rem;
        height: 3.5rem;
    }

    .image {
        width: 3.5rem;
    }
}




@media screen and (max-width : 660px) {
    .container {
        grid-template-columns: .7fr .5fr 2fr 2fr .5fr 3.2fr;
        font-size: 1rem;
        width: 32rem;
        height: 3rem;
        padding:.6rem .4rem;
    }

    .container:hover {
        scale: 1;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        ;
    }

    .image {
        width: 3rem;
    }

    .cap {
        margin-right: .5rem;
    }

    .name {
        line-height: 1rem;
    }

    .symbol {
        display: none;
    }

}


