.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #F7ECDE;
    border-radius: 10px;
    padding: 1rem;
    color: rgb(56, 56, 56);
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 680px;
    height: 40px;
    
}


.container:hover {
    scale: 1.15;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.image {
    width: 40px;
    margin-right: .3rem;
    mix-blend-mode: multiply;
    
}

.name , .change , .price , .rank , .symbol {
    margin:0 .4rem;
    text-align: left;
    padding: .25rem;
    width: 75px;
    font-weight:400;
}

.cap {
    margin-left:.4rem;
    text-align: right;
    padding: .5rem;
    width: 150px;
}

.name {
    font-weight: bolder;
    width: 120px;
}

.rank {
    width: 30px;
}

.changeG , .changeR {
    width: 50px;
    font-weight: bold;
    text-align: center;
}

.changeG{
    color: rgb(6, 169, 6);
}

.changeR {
    color: red;
}

@media screen and (max-width : 880px) {
    .container {
        font-size: 11px;
        width: 500px;
        height: 35px;
    }

    .image {
        width: 35px;
    }

    .name , .change , .price , .rank , .symbol {
        margin:0 .1rem;
        text-align: left;
        padding: .2rem;
        width: 60px;
    }

    .cap {
        margin-left:.1rem;
        text-align: right;
        padding: .5rem;
        width: 90px;
    }

    .rank {
        width: 15px;
    }

    .symbol {
        width: 40px;
    }
}




@media screen and (max-width : 660px) {
    .container {
        font-size: 10px;
        width: 300px;
        height: 30px;
        padding:.6rem .4rem;
    }

    .container:hover {
        scale: 1.05;
    }

    .image {
        width: 30px;
    }

    .name , .change , .price , .rank , .symbol {
        text-align: left;
        padding: .1rem;
        width: 50px;
    }

    .change {
        width: 15px;
        margin-right: 0;
    }

    .name {
        margin-right: .2rem;
    }

    .cap {
        margin-left:0;
        margin-right: .2rem;
        text-align: right;
        padding: 0;
        width: 105px;
    }

    .rank {
        width: 10px;
        margin-right: .5rem;
    }

    .symbol {
        display: none;
    }

    .price {
        width: 65px;
        margin-right: 0;
    }
}


