.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8rem;
    margin-top: 4rem;
    width: 100%;
}

/* ------------- header --------------------- */

.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-beige-darker);
    /* text-shadow: #607EAA 1px 2px 12px; */

}

.header span {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--color-gray-dark);
    text-shadow: none;
}

/* --------------------  input search --------------------- */

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

input[type=text] {
    width: 30rem;
    height: 50px;
    border: 2px solid var(--color-beige-darker);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-transition: 0.5s;
    transition: .3s;
    outline: none;
    box-sizing: border-box;
    background-color: var(--color-beige-light);
    color: var(--color-beige-darker);
    font-weight: 600;
    place-content: center;
    
}

input[type=text]:focus {
    scale: 1.1;
    background-color: var(--color-beige-lighter);
    /* transition: 0.5s; */
}

input::placeholder {
    color: var(--color-beige-dark);
    /* opacity: .6; */
}


/* ---------------------- table -------------------------------- */

.table {
    display: grid;
    grid-template-columns: 2.2fr 2.5fr 2.5fr .8fr 2.8fr;
    justify-items: space-around;
    align-content: center;
    margin-bottom: 1.2rem;
    background-color: #596E79;
    border-radius: 10px;
    color: var(--color-beige-lighter);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 68rem;
    height: .8rem;
    padding: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.tableMktcap {
    text-align: right;
    margin-right: 2rem;
}

.tableHashtag {
    text-align: left;
    margin-left: 2.4rem;
}

.tableName {
    text-align: left;
}


/* ------------------- coins --------------------------- */

.coinsDivWrapper{
    width: 80rem;
    position: relative;
}



.coinsDiv {
    margin-bottom: 4rem;
    position : relative;
    height: 30rem;
    overflow: hidden;
    width: 100%;
}


.coinsDiv:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                        rgba(255,255,255, 0), 
                        var(--color-beige-light) 95%);
    width    : 100%;
    height   : 4rem;
}

.coinsDivActive {
    margin-bottom: 2rem;
    position : relative;
    width: 100%;
}


/* ------------ view more button and view less button ----------------- */

.viewMore {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--color-gray-dark);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.viewLess {
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    color: var(--color-gray-dark);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.viewMore:hover,.viewLess:hover {
    color: var(--color-gray);
}


/*  ----------------  responsive ------------------- */

@media screen and (max-width : 880px) {

    .container{
        margin-top: 8rem;
    }

    input[type=text] {
        width: 25rem;
        height: 4.5rem;
        font-size: 1.2rem;
    }

    .coinsDivWrapper {
        width: 58rem;
    }

    .table {
        font-size: 1.1rem;
        width: 50rem;
        height: .8rem;
    }

    .header {
        font-size: 1.7rem;
        margin-bottom: 2.2rem;
    }

    .header span {
        font-size: 3.4rem;
    }

    .loading {
        font-size: 2rem;
    }

}


@media screen and (max-width : 660px) {

    /* .container{
        margin-top: 8rem;
    } */

    input[type=text] {
        width: 20rem;
        height: 4rem;
        font-size: 1rem;
    }

    .coinsDivWrapper {
        width: 34rem;
    }

    .coinsDiv {
        height: 30rem;
    }

    .viewMore {
        bottom: 1rem;
        font-size: 1.2rem;
    }

    .viewLess {
        font-size: 1.2rem;
    }

    .table {
        grid-template-columns: 2fr 2.5fr 1.7fr 1.5fr 2.5fr;
        margin-bottom: .5rem;  
        font-size: 1rem;
        width: 31rem;
        height: .8rem;
        padding:.6rem .4rem;
        border-radius: 8px;
    }

    .tableMktcap {
        margin-right: 0;
    }
    
    .tableHashtag {
        margin-left: 0;
    }

    .inputDiv {
        margin-top: 1rem;
    }

    .header {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .header span {
        font-size: 3rem;
        display: block;
        line-height: 50px;
    }

    .loading {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}