
.loadingSpinner {
    width: 5rem;
    height: 5rem;
    display: block;
    border: 3px solid var(--color-beige-lighter);
    border-bottom-color: var(--color-gray);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 3rem auto 0 auto;
    
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width : 660px) {
    .loadingSpinner {
        width: 3rem;
        height: 3rem;
    }
}