.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  position: relative;
  /* min-height: 100vh; */
  /* width: 100vw; */
  
}
body {
  background-color: var(--color-beige-light);
  position: relative;
}